<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myoauth.common.dao.OauthAccessTokenMapper">


    <insert id="saveAccessToken" parameterType="AccessTokenDO" flushCache="true" timeout="20"  >
        INSERT INTO oauth_access_token (access_token, refresh_token, client_key, create_time,expires_time)
        VALUES (#{accessToken}, #{refreshToken}, #{clientKey}, #{createTime},#{expiresTime})
    </insert>
    <update id="updateAccessTokenCreateTime" >
        UPDATE oauth_access_token set create_time=#{currentTime} where access_token=#{accessToken}
    </update>

    <resultMap id="accessTokenResultMap" type="AccessTokenDO">
        <id property="accessToken" column="access_token"></id>
        <result property="refreshToken" column="refresh_token"></result>
        <result property="clientKey" column="client_key"></result>
        <result property="createTime" column="create_time"></result>
        <result property="expiresTime" column="expires_time"></result>
    </resultMap>
    <select id="listAccessTokenByClientKey" parameterType="String"  resultMap="accessTokenResultMap" >
        SELECT a.* FROM oauth_access_token a where a.client_key=#{clientKey} ORDER BY a.create_time DESC
    </select>

    <select id="listAccessTokenByRefreshToken" parameterType="String" resultMap="accessTokenResultMap">
        SELECT * from oauth_access_token WHERE  refresh_token=#{refreshToken} ORDER BY create_time DESC
    </select>
    <select id="getAccessTokenById"  parameterType="String" resultMap="accessTokenResultMap">
        SELECT * FROM oauth_access_token WHERE access_token=#{accessToken}
    </select>


</mapper>